[default]
# ⚠️这是一个工程必须要有的文件, 会被开发插件, 以及Yyds.Auto工程管理模块读取!

# 此文件为ini格式的配置文件 插件会读取以下配置数据进行调试运行以及打包 '#'开头为注释
# [必填]工程名 支持中文英文数字组合，勿加特殊符号!哈哈
PROJECT_NAME=案例工程

# [打包必填]工程版本
PROJECT_VERSION=1.1

# 修改此处请点击 菜单 - 设备重连
# [调试必填]调试设备IP地址，在App可以看到
# 如果是USB设备, 请使用 adb forward tcp:61140 tcp:61140 进行端口数据转发, 然后填入127.0.0.1
DEBUG_DEVICE_IP=192.168.1.18

# [工程打包选项 选填]在打包工程时候生成的zip工程包文件名是否包括工程版本
PACK_KEY_WITH_VERSION=false